.body {
  width: 1440px;
  font-family: "Hanken Grotesk", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.container {
  width: 550px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 255, 0.1);

  margin: auto;
  border-radius: 20px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 18px;
}
.leftside {
  width: 50%;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: inherit;
  height: inherit;
  font-family: inherit;
}
#t1 {
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 35px;
  font-weight: bold;
}
.circle {
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 140px;
  height: 140px;
  text-align: center;
  margin: auto;
}
.circle p {
  padding: 27px;
}
#t2 {
  color: white;
  font-size: 55px;
  font-weight: 800;
  font-family: "Hanken Grotesk", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
#t3 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  font-family: inherit;
}
#t4 {
  text-align: center;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  font-family: "Hanken Grotesk", monospace;
  padding-top: 10px;
}
#t5 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 200px;
  margin: auto;
  padding-top: 10px;
}
.rightside {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  height: inherit;
}
#t6 {
  color: hsl(224, 30%, 27%);
  font-family: "Hanken Grotesk", monospace;
  padding: 30px;
  font-weight: 700;
  font-size: 20px;
}
#box1 {
  background-color: hsl(0, 100%, 67%, 0.1);
  margin: -5px 30px 0px 30px;
  padding: 10px 15px;
  border-radius: 3px;
}
div img {
  background-color: hsl(0, 100%, 67%, 0);
  width: 15px;
  position: relative;
  top: 2px;
}
#reaction {
  display: inline;
  color: hsl(0, 100%, 67%, 0.8);
  font-size: 15px;
  font-weight: bold;
}
.voto {
  display: inline;
  float: right;
  margin-right: 7px;
  color: hsl(224, 30%, 27%);
  font-weight: bold;
}
#box2 {
  background-color: hsl(39, 100%, 56%, 0.1);
  margin: 0px 30px 0px 30px;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 15px;
}
#memory {
  display: inline;
  color: hsl(39, 100%, 56%);
  font-size: 15px;
  font-weight: bold;
}
#box3 {
  background-color: hsl(166, 100%, 37%, 0.1);
  margin: 0px 30px 0px 30px;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 15px;
}
#verbal {
  display: inline;
  color: hsl(166, 100%, 37%);
  font-size: 15px;
  font-weight: bold;
}
#box4 {
  background-color: hsl(234, 85%, 45%, 0.1);
  margin: 0px 30px 0px 30px;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 15px;
}
#visual {
  display: inline;
  color: hsl(234, 85%, 45%);
  font-size: 15px;
  font-weight: bold;
}
#continue {
  text-align: center;
  margin: auto;
  margin-top: 35px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  width: 210px;
  border-radius: 50px;
  padding: 12px 0;
  font-weight: bold;
  display: block;
  text-decoration: none;
}
#continue:hover {
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
@media screen and (max-width: 600px) {
  .container {
    width: fit-content;
    height: fit-content;
  }
  .leftside {
    width: 100%;
    height: 350px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  #t1 {
    font-size: 21px;
    margin-top: 35px;
  }
  .circle {
    width: 150px;
    height: 150px;
  }
  .circle p {
    padding: 30px;
  }
  #t2 {
    font-size: 60px;
  }
  #t3 {
    font-size: 18px;
  }
  #t4 {
    font-size: 28px;
  }
  #t5 {
    width: 260px;
    font-size: 18px;
  }
  .rightside {
    display: block;
    position: static;
    width: 375px;
    margin: auto !important;
  }
  .box {
    width: 290px;
    margin: 15px auto !important;
    padding: 15px 20px !important;
  }

  #t6 {
    margin-bottom: -5px !important;
  }
  #continue {
    padding: 20px 55px;
    margin-bottom: 35px;
  }
}
