* { 
    margin: 0;
    padding: 0;
}
body { 
    background-color: rgba(70, 35, 122, 0.7);
    
}
.container { 
    
    margin: auto;
    width: 50%;
    margin-top: 60px;
    min-width: 370px;
    
}
header { 
    text-align: center;
    margin-bottom: 70px;
    color: #FCFCFC;
}
h1 { 
    font-size: 3.5rem;
    text-shadow: 6px 6px 6px rgba(70, 35, 122, 1);
}
form { 
    background-color: rgba(70, 35, 122, 0.6);
    padding: 50px 4rem;   
    border:1px solid black;
    border-radius: 7.5px;
}
.top input { 
    width: 100%;
}
#name-label, #email-label, #number-label { 
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: block;
}
.top input { 
    display: block;
    margin-bottom: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;

}
#a { 
    opacity: 0.5;
}
form p { 
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 20px;
} 
select { 
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

input[type="radio"] {  
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 10px;


}
#radio label { 
    color: white;
    display: block; 
    font-size: 1.3rem;  
    margin-bottom: 10px; 
    margin-left: 5px;
}
#check input { 
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 10px;

}
#check label { 
    color: white;
    display: block; 
    font-size: 1.3rem;  
    margin-bottom: 10px; 
    margin-left: 5px;
}
textarea { 
    resize: vertical;
    min-height: 100px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 30px;
}
button { 
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
    background-color: rgba(70, 35, 122, 0.7);
    color: white;
    border: none;
    border: 1px solid black;
    border-radius: 3px;
}
button:hover { 
    background-color: rgba(70, 35, 122, 0.9);
}


